body {
  background-color: #f6fafd;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  display: flex;
  background-color: #495371;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 77%;
}
.logo h1 {
  font-size: 30px;
  margin-left: 10px;
  color: #f1e0ac;
  font-family: "Mali";
  font-weight: 700;
}

.logo img {
  margin-top: -5px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.input {
  display: flex;
}
.container {
  display: flex;
  width: 80%;
}
.container img {
  height: 250px;
  width: auto;
  display: flex;
  margin-left: 90px;
  margin-right: auto;
}
.container h2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Mali";
  font-weight: 600;
}
.container p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  font-family: "Mali";
  font-weight: 500;
}

.detail h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali";
  font-weight: 600;
  font-size: 25px;
}
.detail input {
  font-family: "Mali";
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.btn {
  margin-top: -10px;
  width: 80%;
  margin-left: 50px;
}
.left {
  width: 55%;
}
.right {
  width: 45%;
}
.right h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali";
  font-weight: 500;
  margin-top: 10px;
}
.right img {
  height: 400px;
  width: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.right p {
  margin-top: 10px;
}

.result h3 {
  margin-top: 40px;
}
